@tailwind base;
.mp {
  @apply ml-10;
}
.buttonCustom {
  @apply ml-3 btHover active:bg-hover p-1 hover:duration-300;
}
.cardContainer {
  @apply container mx-auto text-muted text-wrap lg:py-3 text-justify  leading-relaxed;
}
.resumeCard {
  @apply bg-card  py-2 rounded-md;
}
.titulo {
  @apply text-important pb-3 text-3xl tracking-wide font-bold md:text-5xl lg:text-6xl;
}
.tituloCard {
  @apply text-2xl py-3 text-important font-light;
}

.btHover {
  @apply hover:bg-hover hover:rounded;
}

.containerResponsive {
  @apply container p-2;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #3a5ccc;
  transform-origin: 0%;
}

@tailwind components;
@tailwind utilities;
